.header {
  background-image: url(images/ribblehead-viaduct-2443085_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: 450px;
}
.h1{
    align-items: center;
}
