.jumbotron{
  background-image: url(images/larisa-birta-127432.jpg);
  /*background-size: contain;*/
  text-shadow: black 0.3em 0.3em 0.3em;
  background-color: #6699ff;
  background-repeat: no-repeat;
  background-size: 100%;

}

/*source: https://stackoverflow.com/questions/10099422/flushing-footer-to-bottom-of-the-page-twitter-bootstrap*/
html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}
