.jumbotron{
  background-image: url(images/river-head-background-1280.png);
  /*background-size: contain;*/
  text-shadow: black 0.3em 0.3em 0.3em;
  background-color: #6699ff;
  background-repeat: no-repeat;
  width: 100%;
}
